<footer class="website-footer">
    <div class="logo-with-title">
        <img class="footer-logo" src="https://github.com/akiguanzon/Group13_MP/blob/main/images/logo.png?raw=true"
            alt="">
        <div class="footer-title">social-net</div>
        <div class="footer-slogan">Find your everyday reads here!</div>
        <div class="footer-copyright">&#169 2022 All Rights Reserved.</div>
    </div>
    <div class="vl"></div>
    <div class="footer-col">
        <p class="footer-col-title">Catalogue</p>
        <a class="footer-item" href="/posts/School">School</a>
        <a class="footer-item" href="/posts/Music">Music</a>
        <a class="footer-item" href="/posts/Travel">Travel</a>
        <a class="footer-item" href="/posts/Gaming">Gaming</a>
        <a class="footer-item" href="/posts/Art">Art</a>
    </div>
    <div class="footer-col">
        <p class="footer-col-title">User</p>
        <a class="footer-item" href="/login">Login</a>
        <a class="footer-item" href="/signup">Sign-Up</a>
        <a class="footer-item invisible">filler</a>
        <a class="footer-item invisible">filler</a>
        <a class="footer-item invisible">filler</a>
    </div>
</footer>