<!DOCTYPE html>

<html>

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/css/aboutUs.css">
    <title>Social-net | About Us</title>

</head>

<body id="background">

    <div class="LOGO"><img src="https://www.nicepng.com/png/full/170-1709508_web-solutions-web-icon-white-png.png"
            id="LOGOPHOTO"></div>
    <div class="GIF"><img
            src="https://images.squarespace-cdn.com/content/v1/5d7bd675b95d9b3bf482a2e2/1585769822469-DYS3O5LZ0WNN0KYRJTRM/People+talking"
            id="GIFPHOTO"></div>
    <a id="font1" class="SOCIALNET">social-net</a>
    <a id="font1" class="SLOGAN">find your everyday reads here!</a>

    <div class="Bar">

        <div id="font1" class="ABOUTUS">ABOUT US</div>

        <div class="LINE"></div>

        <div id="font1" class="PARAGRAPH">Submitted by: <br> Marco Luis Gonzalez, Carlos Antonio Guanzon, Winnie Silva
            He <br>
            <br>Packages used: <br>
            Express, EJS, BCrypt, Express-session, Method-override, Mongoose.
        </div>

        <div onclick="location.href='/';" id="font1" class="BACKTOHOMEPAGE">BACK TO HOME PAGE</div>

    </div>


</body>

</html>
